.products__container {
  @for $i from 1 through 2 {
    &:has(> :last-child:nth-child(#{$i})) {
      grid-template-columns: repeat(#{$i}, 100% / 3);
    }
  }
}

@media screen and (max-width: 1300px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 950px) {
  .products__container {
    grid-template-columns: 1fr !important;
  }
}
